/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
/*
.modal {
    overflow: hidden;
}
*/

.user-view > .background > .responsive-img {
    height: 100%;
}


#input-avatar{
    display: none;
}

#filter-search{
    display: none;
}

/* Start rules for Races Card  */
.autofill{
    display: inline-block;
    white-space:nowrap
}

.autofill-city {
    line-height: 0;
    margin-top: 36px;
    font-family: 'Roboto Slab', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.autofill-category {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.autofill-organizer {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.autofill-time {
    line-height: 0;
    margin-top: 14px;
    margin-bottom: 36px;
    font-weight: bold;
    font-family: 'Nova Mono', sans-serif;
    text-transform: uppercase;
}

.card-title-top {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    padding: 0;
    /* padding: 24px; */
}
.card-title-bottom {
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    padding: 0;
}

.card-profile-edit .background-edit-button{
    top: 6px;
    right: 6px;
}
.card-profile-edit .card-content {
    padding-top: 36px;
}

.card-profile-edit .photo-dropify{
    width: 150px;
    height: 150px;
    left: 24px;
    right: auto;
    background-color: transparent !important;
    border: 4px solid whitesmoke;
}

.card-profile-edit span.card-title{
    right: 0;
    left: auto !important;
}

.card-race > .card-content{
    height:120px;
}

.avatar-status {
    position: relative;
    display: inline-block;
    line-height: 100px;
    width: 48px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom;
}

.avatar-status img {
    width: 100%;
    max-width: 100%;
    height: auto;
    background: #e6e6e6;
    border: 0 none;
    border-radius: 1000px;
}


nav form.search-bar{
    height: 100%;
    position: relative;
    display: inline-block;
    width: 60%;
    left: 15%;
}




@media only screen and (min-width: 600px) {
    .race-summary {
        min-height: 204px !important;
    }
}

/* -- iPhone 6, 7, & 8 in portrait & landscape -- */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
    .card-profile-edit .photo-dropify{
        width: 80px;
        height: 80px;
        left: 12px;
        right: auto;
        border: 2px solid whitesmoke;
    }
}

/* -- iPad in portrait & landscape -- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  { /* STYLES GO HERE */}

/* -- iPhone 6, 7, & 8 in portrait -- */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) { /* STYLES GO HERE */ }

/* -- iPhone 6, 7, & 8 in landscape -- */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) { /* STYLES GO HERE */ }




/* End styles for Races Card  */